.gallery-block.grid-gallery{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block.grid-gallery .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery .item img:hover {
  transition: 0.4s;
  background-color: none;
}
.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
  transition: 0.4s;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

@media (min-width: 576px) {

  .gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

.custom-container-width {
  width: 60%;
  max-width: 50%; /* Ensure it doesn't exceed 80% on larger screens */
  margin-left: auto;
  margin-right: auto;
}

.custom-container-width-projects {
  width: 70%;
  max-width: 70%; /* Ensure it doesn't exceed 80% on larger screens */
  margin-left: auto;
  margin-right: auto;
}

.tilt-left {
  transform: rotate(-5deg);
}

.tilt-right {
  transform: rotate(5deg);
}

/* Optional: Add transition for a smoother effect */
.img-fluid {
  transition: transform 0.3s ease;
}


.text-overflow{
white-space: nowrap; 
 text-overflow: ellipsis;
  overflow: hidden;
}

.custom-row-padding{
  padding: 20px;
  background-color:bisque;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
