@import url("https://use.typekit.net/kgq0pza.css");

/* GENERAL */

:root {
    --bs-body-font-family: baskerville-urw, serif;
    --bs-primary: rgb(92, 14, 13);
    --bs-primary-rgb: 92, 14, 13;
    --bs-secondary: rgb(241, 235, 179);
    --bs-secondary-rgb: 241, 235, 179;
    --bs-dark: rgb(36, 19, 15);
    --bs-dark-rgb: 36, 19, 15;
    --bs-light: rgb(236, 228, 209);
    --bs-light-rgb: 236, 228, 209;
    font-size: 16px;
}

body {
    font-family: var(--bs-body-font-family);
    --bs-body-font-size: 1.1rem;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
    --bs-heading-color: var(--bs-dark);
}

h5,
h6,
.nav-link .btn {
    letter-spacing: 0.1rem;
}

.btn-outline-secondary {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
}

h6,
.btn {
    font-weight: 500;
}

.btn {
    font-size: 0.8rem;
    border-radius: 0;
    border-width: 1.5px;
}

.btn-outline-secondary:hover {
    color: var(--bs-light);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

/* CUSTOM SPACING */
.mb-6 {
    margin-bottom: 4.5rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.pt-6 {
    padding-top: 4.5rem;
}

.pt-7 {
    padding-top: 7rem !important;
}

.pb-7 {
    padding-bottom: 7rem;
}

.py-6 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.bg-paper-texture-1 {
    background-image: url('../images/background-texture-seamless-butterfly.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.bg-paper-texture-2 {
    background-image: url('../images/background-texture-seamless-2.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
}


/* FOOTER */

.footer {
    color: black;
    padding: 20px 0;
    text-align: center;
    padding: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-logo img {
    height: auto;
    margin-top: 30px;
    max-width: 15%;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

/* NAV BAR */

#navbar {
    min-height: 54px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link {
    color: var(--bs-dark);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link:hover,
.nav-link.active,
.nav-link:focus {
    color: var(--bs-primary);
}

.nav-link.active {
    font-weight: 600;
    --bs-navbar-active-color: var(--bs-primary);
    position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    background: transparent;
    padding: 0;
}

.navbar-toggler .bi {
    font-size: 1.5rem;
}

.nav-link.active::after,
.filter-btn.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background: url('../images/Squiggle@2x.png') no-repeat center center;
    background-size: 80% auto;
}

.offcanvas {
    width: 100%;
    max-width: 100%;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* INTRO SCREEN */

#introScreen {
    background-image: url("../images/website-hero-img.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
}


.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#homeMainContent {
    opacity: 0;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}

.pulse::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid rgba(var(--bs-dark-rgb), 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulse-animation 1.5s infinite;
    opacity: 0;
}

section {
    scroll-snap-align: start;
}


.circle-frame img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

.circle-frame {
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1 / 1;
  }

  .circle-frame[data-hover]:hover {
    background-image: attr(data-hover url);
  }



@keyframes pulse-animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}


/* HOME */

#welcomeImage {
    background-image: url(../images/welcome-vert.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 100%;
}


/* PROJECTS */

.filter-btn.current::after {
    height: 8px;
}

.filter-btn {
    position: relative;
    font-weight: 500;
    padding-bottom: 0.75rem;
    font-size: 0.9rem;
}

.filter-btn:hover {
    color: var(--bs-primary);
}

.filter-btn.current {
    color: var(--bs-primary);
    font-weight: 600;
}

.filter-btn:focus,
.filter-btn:active {
    color: var(--bs-primary) !important;
    font-weight: 600;
    border: none;
}

.filter-btn:not(:focus) {
    border: none;
}


.project-image-mask {
    -webkit-mask-image: url(../images/frame-mask.svg);
    mask-image: url(../images/frame-mask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    overflow: hidden;
}

.single-project {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.single-project a {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}


.single-project .btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.single-project .btn:hover,
.single-project:hover .btn {
    color: var(--bs-primary);
}

/* .single-project-anchor {
    text-decoration: none;
    color: var(--bs-dark);
} */


/* STUDENTS */

#studentsGallery .stamp-border {
    aspect-ratio: 3/4;
}

#studentsGallery .item h6 {
    font-size: 0.8rem;
    z-index: 3;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#studentsGallery img {
    filter: grayscale(70%); 
    padding: 6px;
}

#studentsGallery .bg-light {
    position: relative;
    margin: -8px;
    height: 108%;
}

#studentsGallery .bg-light::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../images/Stamp-back.png'); */
    background-color: rgba(255, 255, 255, 0.219);
    opacity: 1;
    pointer-events: none;
}

#studentsGallery .bg-light::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Stamp-back.png');
    opacity: 0.5;
    /* Adjust opacity as needed */
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.tilt-left {
    transform: rotate(-5deg);
}

.tilt-right {
    transform: rotate(5deg);
}

.gallery-block.grid-gallery .scale-on-hover {
    transition: all 0.4s ease;
}

.stamp-border,
.stamp-border-lg {
    border: 20px solid transparent;
    border-image-source: url('../images/Frame-border-4.png');
    border-image-slice: 25%;
    border-image-repeat: round;
}

.stamp-border-lg {
    border-width: 30px;
}

#studentsGallery .item:hover h6 {
    opacity: 1;
}

#studentsGallery .item:hover .bg-light::after {
    opacity: 0.1;
}

.gallery-block.grid-gallery .scale-on-hover:hover, .single-project:hover {
    transform: scale(1.05);
    filter: url('../images/stamp-shadow.svg#shadow');
}

.single-project:hover .bg-opacity-75 {
    background-color: white !important;
}

/* CONTACT */

#contactSection {
    min-height: 80vh;
    /* padding-bottom: 15%; */
}

.contact-item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 991.98px) {
    .nav-link {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding-bottom: 0.85rem;
    }

    .nav-item {
        width: fit-content;
    }

    .nav-link.active::after {
        height: 9px;
        background-size: 100% auto;
    }

    #welcomeImage {
        background-image: url(../images/welcome-hori.png);
        max-height: 30vh;
    }

    .stamp-border {
        border-width: 25px;
    }
}

@media (min-width: 576px) {
    .pt-sm-7 {
        padding-top: 7rem !important;
    }

    .pt-sm-6 {
        padding-top: 4.5rem !important;
    }
}

@media (max-width: 576px) {
    #studentsGallery .item h6 {
        opacity: 1;
    }

    .stamp-border {
        border-width: 30px;
    }
}

@media (max-width: 577px) {
    #studentsGallery .bg-light {
        margin: -10px;
        height: 111%;
    }

    #studentsGallery h6 {
        margin-bottom: 1rem !important;
    }
}

@media (max-width: 350px) {
    #studentsGallery .bg-light {
        height: 120%;
    }


    #studentsGallery .row {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

