@import url("https://use.typekit.net/kgq0pza.css");

:root {
    --bs-body-font-family: baskerville-urw, serif;
    --bs-primary: rgb(92, 14, 13);
    --bs-primary-rgb: 92, 14, 13;
    --bs-secondary: rgb(241, 235, 179);
    --bs-secondary-rgb: 241, 235, 179;
    --bs-dark: rgb(36, 19, 15);
    --bs-dark-rgb: 36, 19, 15;
    --bs-light: rgb(236, 228, 209);
    --bs-light-rgb: 236, 228, 209;
}

body {
    font-family: var(--bs-body-font-family);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .btn {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
    --bs-heading-color: var(--bs-dark);
}

h5, h6, .nav-link .btn {
    letter-spacing: 0.1rem;
}

h6 {
    font-weight: 400;
}

.btn {
    font-size: 0.8rem;
}

/* Custom spacing values */
.mb-6 {
    margin-bottom: 4.5rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.pt-6 {
    padding-top: 4.5rem;
}

 .pt-7 {
    padding-top: 7rem;
 }

 .pb-7 {
    padding-bottom: 7rem;
 }

 

/* .nav-logo img {
    max-width: 250px;
} */


/* NAV BAR */

#navbar {
    min-height: 54px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link {
    color: var(--bs-dark);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link:hover, .nav-link.active, .nav-link:focus {
    color: var(--bs-primary);
}

.nav-link.active {
    font-weight: 600;
    --bs-navbar-active-color: var(--bs-primary);
    position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    background: transparent;
    padding: 0;
}

.navbar-toggler .bi {
    font-size: 1.5rem;
}

.nav-link.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background: url('../images/Squiggle@2x.png') no-repeat center center;
    background-size: 80% auto;
  }

.offcanvas {
    width: 100%;
    max-width: 100%;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991.98px) { 
    .nav-link {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding-bottom: 0.85rem;
    } 
    
    .nav-item {
        width: fit-content;
    }

    .nav-link.active::after {
        height: 9px;
        background-size: 100% auto;
      }
}



.full-height-section {
    height: 100vh;

}


/* HOME PAGE */

#introScreen {
    background-image: url("../images/website-hero-img.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
    /* transition: opacity 1s ease-in-out, height 1s ease-in-out; */
}

/* .collapsed {
    opacity: 0;
    height: 0;
  } */

  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #homeMainContent {
    opacity: 0;
  }

  .fade-in {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
  }

.bg-paper-texture-1 {
    background-image: url('../images/background-texture-seamless-butterfly.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.bg-paper-texture-2 {
    background-image: url('../images/background-texture-seamless-2.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.project-image-mask {
    -webkit-mask-image: url(../images/frame-mask.svg);
    mask-image: url(../images/frame-mask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;  
    mask-size: 100% 100%;
    overflow: hidden;
}


.single-project.op-1 {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.single-project.op-1:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 0.5rem;
}

.single-project.op-2 {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.single-project.op-2:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.single-project .btn {
    background-color: transparent;
    border: none;
}

.single-project .btn:hover {
    color: var(--bs-primary);
}

